.slider-container label {
    user-select: none;
}

.slider-container {
    display: flex;
    align-items: center;
    width: 100%;
}

input[type="range"].slider {
    flex-grow: 1;
    margin-left: 1rem;
    margin-top: .4rem;
    -webkit-appearance: none;
    appearance: none;
    height: .6rem;
    border-radius: .5rem;
    background-color: gray;
    filter: drop-shadow(.1em .1em .1em rgba(60, 60, 60, 0.404));
    cursor: pointer;
}

input[type="range"].slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 11.5px;
    border: grey solid .1rem;
    background-color: white;
    transition: scale .2s ease;
}