# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin

.settings
.project
.vscode

# Ignore json activities file
app/src/main/resources/roomActivities/activity.json
